# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

node_modules

*.pdf

__pycache__/
.venv/
venv/
*.pyc

*.mp4
*.sqlite3
*.bin
chroma_db_langchain/
caps-ai-backend/chroma_db_langchain/



caps-ai-math-assistant-app-firebase-adminsdk*.json
.env
.env.local
.env.*

upload.js

# Scratch / temp files
testsonconsole.txt
